.Artwork{
    width:100%;
    min-height:100vh;
    position: relative;
    background:no-repeat url('../images/art_wb_bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;
    background-position: 0px center;
    transition:0.3s ease-in-out;
}

.Artwork.active{
    width:100%;
    min-height:100vh;
    position: relative;
    background:no-repeat url('../images/art_wb_bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;
    background-position: 360px center;
    transition:0.6s ease-in-out;
}

.Artwork h1,.Artwork h2{margin:0px;}
.Artwork div{display:inline-block; background:#000; display:flex; justify-content: center; align-items: center; overflow:hidden; float:left;}
.Artwork div ul li{border-bottom:1px solid #333; border-left:1px solid #333; box-sizing:border-box;}
.Artwork div img.bg_img{width:100%; height:100%; object-fit: cover; transform:scale(1); transition-duration:1.2s; position:absolute; top:0px; left:0px; opacity:0.7; filter: saturate(0.2);}
.Artwork div .p_icon{position:absolute; top:0px; background:none; left:0px; display:flex; flex-direction: column; color:#fff; justify-content: center; text-align:center; align-items: center; width:100%; height:100%;}
.Artwork div .p_icon h2{font-size:35px; font-family:"GongGothicBold";}
.Artwork div .p_icon p{font-size:20px; font-family:"GongGothicLight";}
.Artwork div:hover img.bg_img{transform:scale(1.05); filter: saturate(1); opacity:1;}
.Artwork div a{position:absolute; width:100%; height:100%; top:0px; left:0px; display:block;}
.Artwork .Artwork_title{width:100%; height:0px; padding-top:24%; border-bottom:1px solid #333; border-left:1px solid #333; position:relative; background:none; box-sizing:border-box;}
.Artwork .Artwork_title h1{color:#fff; display:flex; justify-content: center; align-items: center; width:100%; height:100%; position:absolute; top:0; left:0px; font-size:50px; font-family:"GongGothicBold";}
.Artwork .Artwork_title h1 span{font-weight:normal; padding:0px 20px; font-family:'GongGothicLight';}
.Artwork .digital_painting{width:60%; height:0px; padding-top:38%; position:relative;}
.Artwork .digital_painting .box_line{width:100%; height:100%; position:absolute; top:0px; left:0px;}
.Artwork .digital_painting .box_line li{width:33.33%; height:50%; float:left;}
.Artwork .concept_art{width:40%; height:0px; padding-top:38%; position:relative;}
.Artwork .concept_art .box_line{width:100%; height:100%; position:absolute; top:0px; left:0px;}
.Artwork .concept_art .box_line li{width:50%; height:50%; float:left;}
.Artwork .drawing{width:40%; height:0px; padding-top:38%; position:relative;}
.Artwork .drawing .box_line{width:100%; height:100%; position:absolute; top:0px; left:0px;}
.Artwork .drawing .box_line li{width:50%; height:50%; float:left;}
.Artwork .illustration{width:40%; height:0px; padding-top:38%; position:relative;}
.Artwork .illustration .box_line{width:100%; height:100%; position:absolute; top:0px; left:0px;}
.Artwork .illustration .box_line li{width:50%; height:50%; float:left;}
.Artwork .special_stage{width:20%; height:0px; padding-top:38%; position:relative;}
.Artwork .special_stage .box_line{width:100%; height:100%; position:absolute; top:0px; left:0px;}
.Artwork .special_stage .box_line li{width:100%; height:50%; float:left;}

/* 모바일 버전 */
.mobileArtwork{
   background:none; 
   flex-direction: column;
   justify-content: flex-start;
   box-sizing: border-box;
}
.mobileArtwork .digital_painting{
    width:100%;
    padding-top: 70%;
}

.mobileArtwork div .p_icon h2{
    font-size:24px;
}
.mobileArtwork div .p_icon p{
    font-size:18px;
    margin:5px;
}
.mobileArtwork div img.bg_img{
    filter:none;
}
.mobileArtwork div ul li{
    border-bottom:1px solid #212121;
    border-left:1px solid #212121;
}
.mobileArtwork .concept_art{
    width:100%;
    padding-top: 100%;
}
.mobileArtwork .concept_art .box_line li{
    width:33.33%;
    height:33.33%;
}
.mobileArtwork .Artwork_title{
    background:#212121;
    padding-top:38%;
    border-left:1px solid #212121;
    border-bottom:1px solid #212121;
}
.mobileArtwork .Artwork_title h1{
    font-size:24px;
}
.mobileArtwork .Artwork_title h1 span{
    font-weight: 100;
}
.mobileArtwork .drawing{
    width:100%;
    padding-top:70%;
}
.mobileArtwork .drawing .box_line li{
    width:33.33%;
    height:50%;
}
.mobileArtwork .illustration{
    width:100%;
    padding-top:70%;
}
.mobileArtwork .illustration .box_line li{
    width:33.33%;
    height:50%;
}
.mobileArtwork .special_stage{
    width:100%;
    padding-top:70%;
}
.mobileArtwork .special_stage .box_line li{
    width:33.33%;
    height:50%;
}